<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/styles/mystyle.css">
	</head>
	<body>
		<div class="text-center">
			<h1 class="header">Update Entity</h1>
		</div>
		<!--menu starts-->
		<div class="text-center">
            <a href="/entity/allPendingEntity" class="btn btn-primary">All Pending Entity</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
        
        <div class="center">
            <h1 class="text text-center">Entity's Information</h1>
            <div class="form-group">
                <h4 class="text">Username : <%= username %> </h4> 
            </div>

            <div class="form-group">
                <h4 class="text">Name : <%= name %> </h4> 
            </div>

            <div class="form-group">
                <h4 class="text">Contact No : <%= phone %> </h4> 
            </div>
            
            <div class="form-group">
                <h4 class="text">Address : <%= address %> </h4> 
            </div>

            <div class="form-group">
                <h4 class="text">Email : <%= email %> </h4> 
            </div>
            <div class="form-group">
                <h4 class="text">create time : <%= ct %> </h4> 
            </div>
            <div class="form-group">
                <h4 class="text">created by : <%= cb %> </h4> 
            </div>

            <div class="form-group">
                <h4 class="text">Vote : <%= vote %> </h4> 
            </div>

            <div class="form-group text-center">  
                <a href="/entity/allPendingEntity" class="btn btn-warning" value="back">Back</a>
                <a href="/entity/approve/<%= id %>" class="btn btn-success">Approve Entity</a>
                <a href="/entity/reject/<%= id %>" class="btn btn-danger">Reject Entity</a>
            </div>
        </div>   
	</body>
</html>